<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.demo">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  //获取设备网络状态，禁用后无法获取网络状态
  <uses-permission android:name="android.permission.INTERNET"/>
  //网络权限，当禁用后，无法进行检索等相关业务
  <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
  <!--//读取设备硬件信息，统计数据-->
  <!--<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />-->
  <!--//读取系统信息，包含系统版本等信息，用作统计-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  //获取设备的网络状态，鉴权所需网络代理
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  //允许sd卡写权限，需写入地图数据，禁用后无法显示地图
  <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
  <!--//获取统计数据-->
  <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
  <!--//鉴权所需该权限获取进程列表-->
  <uses-permission android:name="android.permission.CAMERA" />
  //使用步行AR导航，配置Camera权限

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".MainApplication"
    android:theme="@style/AppTheme">
    <meta-data
      android:name="com.baidu.lbsapi.API_KEY"
      android:value="UAblzcoS6U6ns3n183LY3Bj8Mc1bE1kc" />

    <activity
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:label="@string/app_name"
      android:name=".MainActivity"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
  </application>

</manifest>
